html { 
  background: url(Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: FirstSnow;
    src: url(Firstsnow-nRYmg.ttf);
}

@font-face {
    font-family: PartyConfetti;
    src: url(PartyConfettiRegular-eZOn3.ttf);
}

@font-face {
    font-family: ChildsHand;
    src: url(ChildsHand-x3OwO.ttf);
}

#header {
    padding-top: 20px;
}

#logo {
    text-align: center;
    font-family: FirstSnow;
    letter-spacing: 0.5em;
    font-size: 225%;
}

#header-line {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-family: PartyConfetti;
    letter-spacing: 0.1em;
    font-size: 125%;
}

#navigation a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #d0d0d0 !important;
}

.content {
    position: relative;
    padding-top: 20px;
    transition: 0.5s all ease-in-out; 
}
 
.content:hover { 
    transform: scale(1.05); 
}  

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%; 
}

.content-text-block {
    position: absolute;
    width: 25%;
    top: 7%;
    right: 59%;
    overflow-wrap: break-word;
}

.content-text-block p {
    font-family: ChildsHand;
    line-height: 2;
    font-size: 125%;
}

.content-text-block h3 {
    font-family: PartyConfetti;
    letter-spacing: 0.1em;
    font-size: 150%;
}
